@import '../../styles/styles.scss';

.container-noticias{
    margin: 100px;
}

.container-noticias h1{
    font-size: $font-size-title-container;
    text-align: center;
    margin-bottom: 10px;
}



@media screen and (max-width: 768px) {
    .container-noticias{
        margin: 10px;
    }
    .container-noticias h1{
        font-size: $font-size-title-container-responsive;
    }
}