.hero-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-bottom: 30px;

}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.hero-contentee {
    position: relative;
    z-index: 1;
    color: white;  /* Cor do texto para contraste */
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    padding: 20px;
}

.hero-content h1 {
    font-size: 4rem;
    margin: 0;
}

.hero-content p {
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .hero-contentee h1 {
        font-size: 2rem; /* Tamanho menor da fonte para telas menores */
    }

    .hero-contentee p {
        font-size: 1rem; /* Tamanho menor da fonte para telas menores */
    }
}