
// estilização global
$font-family: "Poppins", sans-serif;
$color-text: #fff;
$color-background: #090F29;



//font
$font-size-title: 4.5rem;
$font-size-subtitle: 1.3rem;
$font-size-title-container: 3rem;
$font-size-title-container-responsive: 1.7rem;
$font-size-paragrafos: 1.1rem;
$font-size-paragrafos-noticias: 1rem;
$font-size-litle-title: 1.5rem;




//colors
$color-ciano: #3994c8;
$color-white: #fff;
$color-green: #45a049;
$color-nav: #0e2330;

//gradiente principal
$primary-gradiente: linear-gradient(90deg, #a993fe -0.13%, #327caa 99.87%);